// Adjustments to bootstrap and custom styles.
.navbar { margin-bottom: 0;  }
.panel-heading { padding: 0;}
.panel-title { padding: 10px 15px;}

#footer {
  position:fixed;
  bottom:0%;
//  text-align: right;
  height: 28px;
  left: 270px;
//  color : #0000FF;
//  background-color: #80bbcc;
  border-top: 1px solid #888888;
  right: 15px;
}

.pekoeFrame {border:0; margin:0; width: 100%; height:100%;}

#work-area {
  position: fixed;
  height: 100%;
  width: 100%;
  top:50px;
  left:0;
  padding-left: 271px; // sidebar
  padding-top: 2px;  // header
  padding-bottom: 28px;
}

.tab-content {
  overflow-y: scroll;
  overflow-x: hidden;
}

.nav-tabs {min-height:41px;}