<!doctype html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <!--<link rel="stylesheet" href="/pekoe_common/dist/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="/pekoe_common/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/simple-sidebar.css">
    <link rel="stylesheet" href="styles/pekoe.css">
     <!-- endbuild -->
  </head>
  <body ng-app="pekoeWorkspaceApp">
    <!-- Add your site or application content here -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" ng-click="toggled = (toggled === 'toggled') ? '' : 'toggled'">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="brand" custom-popover popover-html="The Pekoe Workspace" popover-placement="bottom" popover-label="Pekoe"></span>
                <!-- Button trigger modal -->

                <logout /><!-- in case you miss it - it's logout!! -->
            </div>
        </div>
    </nav>
    <div id="wrapper" ng-class="[toggled]">
        <div class="" id="sidebar-wrapper" ng-controller="BookmarksCtrl as bc">
            <!--<div class="sidebar-brand">{{bk.myUser}}</div>-->
            <!--<div class="sidebar-brand">{{bk.myTenant.name}}</div>-->
            <div class="h2">
                <span>Bookmarks</span>

                <div class="pull-right btn-group" dropdown>
                <button type="button" class="btn btn-danger dropdown-toggle">
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="bc.add()">Add bookmark</a> </li>
                    <li><a ng-click="bc.edit()">Re-order or delete</a></li>
                    <li><a ng-click="bc.cancelEdit()">Cancel edit mode</a></li>
                    <li><a ng-click="bc.save()">Save changes</a></li>
                </ul>
            </div>
            </div>

            <accordion close-others="oneAtATime">
                <div ui-sortable="bc.sortableOptions" ng-model="bc.list">
                    <accordion-group heading="{{group.title}}" ng-model="group" ng-repeat="group in bc.list" is-open="group.open">
                        <ul ui-sortable="bgc.sortableOptions" ng-model="group.items" class="bookmarks-container list-unstyled" ng-controller="BookmarksGroupCtrl as bgc" droppable>
                            <li class="btn btn-default btn-block" ng-repeat="subitem in group.items" ng-controller="BookmarksitemCtrl as bmi" ng-click="bmi.click()" title="{{subitem.href}}">
                                {{subitem.title}}
                                <button class="pull-right" ng-if="bc.editmode" ng-click="bc.deleteMe(subitem)">X</button>
                            </li>
                        </ul>
                    </accordion-group>
                </div>
            </accordion>
            <form class="form-horizontal" role="form" id="addBookmarksFolderForm" ng-if="bc.editmode" ng-submit="bc.addGroup()">
                <div class="form-group form-group-lg" >
                    <label class="sr-only" for="bc_title">new Bookmarks folder name</label>
                    <input class="form-control" id="bc_title" ng-model="bc.title" type="text" placeholder="Bookmarks folder name">
                </div>
            </form>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <!-- TODO - make sense of this.
            The resize directive belongs either on the parent or the children not both
            Consider creating an UUID which is the name of a function on the parent : f12345... and pass that UUId to the child
            then the child has restricted and temporary access to the parent function.

            Previously, I generated the IFRAME on the server and then used it to load the rest of the page.
            Can I somehow pass "this" tab to its frame? And add functionality like "signal close"

            Also, need to change the iframe to a directive so that IT can manage whether to load a Form List or Report or something else.
            -->
            <div id="work-area" ng-controller="TabsCtrl" pekoe-say-resize>
                <tabset><!-- draggable is applied to the LI -->
                    <tab ng-repeat="tab in tabs" active="tab.active" disabled="tab.disabled" select="activate(tab)"draggable-tab>
                        <tab-heading>{{tab.title}}  <a ng-click="removeTab($index)" href=''><i class="glyphicon glyphicon-remove"></i></a></tab-heading>
                        <div ng-switch="tab.type" pekoe-do-resize>
                            <pekoe-form ng-switch-when="form">Some list content</pekoe-form>
                            <pekoe-frame ng-switch-when="html"></pekoe-frame>
                            <div ng-switch-default>
                                <em>Missing or incorrect content type provided ({{tab.type}}). Should be one of </em>
                                <ul>
                                    <li>list</li>
                                    <li>form</li>
                                    <li>html</li>
                                </ul>
                            </div>
                        </div>
                    </tab>

                </tabset>
            </div>

        </div>
        <!-- /#page-content-wrapper -->
        <div id="footer" class="row">
            <div id="hints">Tea for tasks</div>
            <div id="status">Status</div>
            <div class="" id="tx-detail">Something else</div>
        </div><!-- end #footer -->
    </div>
    <!-- /#wrapper -->


    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-xml/angular-xml.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-dragdrop/src/angular-dragdrop.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <!--<script src="scripts/lib/trNgGrid.min.js"></script>-->
    <script src="scripts/lib/angular-http-auth-master/src/http-auth-interceptor.js" ></script>
    <script src="scripts/lib/sortable.js"></script>
    <script src="pekoe_common/pekoe_auth/auth.module.js"></script>
    <script src="scripts/pekoe_bookmarks/bookmarks.module.js"></script>
    <script src="scripts/pekoe_tabs/tabs.module.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/pekoe_bookmarks/bookmarks.ctrl.js"></script>
    <script src="pekoe_common/pekoe_auth/auth.service.js"></script>
    <script src="pekoe_common/pekoe_auth/auth.ctrl.js"></script>
    <script src="pekoe_common/pekoe_auth/logout.js"></script>
    <script src="pekoe_common/pekoe_auth/tenant.ctrl.js"></script>


    <script src="scripts/pekoe_bookmarks/bookmarks.service.js"></script>
    <script src="scripts/filters/filters.js"></script>
    <script src="scripts/pekoe_bookmarks/bookmarksitem.ctrl.js"></script>
    <script src="scripts/pekoe_tabs/tabs.service.js"></script>
    <script src="scripts/pekoe_tabs/tabs.ctrl.js"></script>
    <script src="scripts/directives/pekoe.content-resize.directive.js"></script>
    <script src="scripts/pekoe_tabs/draggabletab.js"></script>
    <!--<script src="scripts/pekoe_list/list.module.js"></script>-->
    <!--<script src="scripts/pekoe_list/list.directive.js"></script>-->
    <!--<script src="scripts/pekoe_list/listContent.directive.js"></script>-->

    <script src="scripts/pekoe_form/form.module.js"></script>
    <script src="scripts/pekoe_form/form.directive.js"></script>
    <script src="scripts/pekoe_form/form.service.js"></script>
    <script src="scripts/directives/frame.directive.js"></script>
    <!-- endbuild -->
</body>
</html>
