<!doctype html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap.css"/>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/simple-sidebar.css">
    <link rel="stylesheet" href="styles/pekoe.css">
     <!-- endbuild -->
  </head>
  <body ng-app="pekoeWorkspaceApp">
    <!-- Add your site or application content here -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" ng-click="toggled = (toggled === 'toggled') ? '' : 'toggled'">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="brand" custom-popover popover-html="The Pekoe Workspace" popover-placement="bottom" popover-label="Pekoe"></span>
                <!-- Button trigger modal -->

                <a ng-href="/#/logout"
                   title="Logout"
                   class="fa fa-border fa-sign-out pull-right"></a>
            </div>
        </div>
    </nav>
    <div id="wrapper" ng-class="[toggled]">
        <div class="" id="sidebar-wrapper" ng-controller="BookmarksCtrl as bc">
            <!--<div class="sidebar-brand">{{bk.myUser}}</div>-->
            <!--<div class="sidebar-brand">{{bk.myTenant.name}}</div>-->
            <div class="h2">
                <span>Bookmarks</span>
                <!--<button class="small pull-right" ng-click="bc.edit()">-->
                    <!--<span class="glyphicon glyphicon-edit"></span>-->
                <!--</button>-->
                <!--<button class="small pull-right" ng-click="bc.save()">-->
                    <!--<span class="glyphicon glyphicon-save"></span>-->
                <!--</button>-->
                <div class="pull-right btn-group" dropdown>
                <button type="button" class="btn btn-danger dropdown-toggle">
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="bc.edit()">Re-order or delete</a></li>
                    <li><a ng-click="bc.cancelEdit()">Cancel edit mode</a></li>
                    <li><a ng-click="bc.save()">Save changes</a></li>
                </ul>
            </div>
            </div>

            <accordion close-others="oneAtATime">
                <div ui-sortable="bc.sortableOptions" ng-model="bc.list">
                    <accordion-group heading="{{group.title}}" ng-model="group" ng-repeat="group in bc.list" is-open="group.open">
                        <ul ui-sortable="bgc.sortableOptions" ng-model="group.items" class="bookmarks-container list-unstyled" ng-controller="BookmarksGroupCtrl as bgc">
                            <li class="btn btn-default btn-block" ng-repeat="subitem in group.items" ng-controller="BookmarksitemCtrl as bmi" ng-click="bmi.click()" title="{{bmi.href}}">
                                {{bmi.title}}
                                <button class="pull-right" ng-if="bc.editmode" ng-click="bc.deleteMe(subitem)">X</button>
                            </li>
                        </ul>
                    </accordion-group>
                </div>
            </accordion>

            <div id="collapse-add-form">
                <input ng-model="bc.title" type="text" placeholder="Bookmarks folder name">
                <button ng-click="bc.addGroup()"> <span class="fa-stack">
                        <i class="fa fa-folder-o fa-stack-2x"></i>
                        <i class="fa fa-plus fa-stack"></i>
                    </span></button>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div id="work-area" ng-controller="TabsCtrl" resize>
                <tabset>
                    <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
                        <iframe ng-src="{{tab.href | trustedUrl}}" pekoe-frame class="pekoeFrame"></iframe>
                        <!--<pekoe-frame tab="{{tab}}" />-->


                    </tab>

                </tabset>
            </div>

        </div>
        <!-- /#page-content-wrapper -->
        <div id="footer" class="row">
            <div id="hints">Tea for tasks</div>
            <div id="status">Status</div>
            <div class="" id="tx-detail">Something else</div>
        </div><!-- end #footer -->
    </div>
    <!-- /#wrapper -->


    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-xml/angular-xml.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-dragdrop/src/angular-dragdrop.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/autofill-event/src/autofill-event.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/lib/angular-http-auth-master/src/http-auth-interceptor.js" ></script>
        <script src="scripts/lib/sortable.js"></script>
        <script src="scripts/pekoe_auth/auth.module.js"></script>
        <script src="scripts/pekoe_bookmarks/bookmarks.module.js"></script>
        <script src="scripts/pekoe_tabs/tabs.module.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/pekoe_bookmarks/bookmarks.ctrl.js"></script>
        <script src="scripts/pekoe_auth/auth.service.js"></script>
        <script src="scripts/pekoe_auth/auth.ctrl.js"></script>
        <script src="scripts/pekoe_auth/logout.js"></script>
        <script src="scripts/pekoe_bookmarks/bookmarks.service.js"></script>
        <script src="scripts/pekoe_auth/tenant.ctrl.js"></script>
        <script src="scripts/filters/filters.js"></script>
        <script src="scripts/pekoe_bookmarks/bookmarksitem.ctrl.js"></script>
        <script src="scripts/pekoe_tabs/tabs.service.js"></script>
        <script src="scripts/pekoe_tabs/tabs.ctrl.js"></script>
        <script src="scripts/pekoe_tabs/pekoe-frame.directive.js"></script>
        <script src="scripts/directives/resize.js"></script>
        <!-- endbuild -->
</body>
</html>
