<div class="panel-group" id="{{panelId}}">
    <div class="panel panel-default" ng-repeat-start="item in ngModel">
        <div class="panel-heading">
            <h4 class="panel-title" ng-click="toggleCollapsedStates($index)" href="#{{panelBaseId}}-{{$index}}">
                {{item | xmlAttr:'title'}}
            </h4>
        </div>
        <div id="{{panelBaseId}}-{{$index}}" data-parent="#{{panelId}}" class="panel-collapse collapse">
            <div class="panel-body">
                <ul>
                    <li ng-repeat="subitem in item | xmlChild " ng-controller="BookmarksitemCtrl as bmi"><a ng-href="{{bmi.href}}" >{{bmi.title}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-repeat-end></div>
</div>