<div class="btn-block bookmark" ng-controller="BookmarksitemCtrl as bmi" >
    <form class="form-horizontal" role="form">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input class="form-control"  type="text"
               placeholder="{{subitem.title}}"
               >
        </div>
    </form>

    <a ng-click="bgc.deleteMe($index); $event.stopPropagation();"
       ng-if="bc.editmode"
       href=''><i
        class="glyphicon glyphicon-remove"></i></a>
</div>
