<div class="modal-header">
            <h4 class="modal-title">Login to Pekoe</h4>
        </div>
        <div class="modal-body">
            <div>
                <span>Welcome</span>
                <form ng-submit="submit()" form-autofill-fix>
                    <div class="form-group">
                    <input class="form-control" ng-model="user.id" type="text" name="user" placeholder="Username"  />
                    <input class="form-control" ng-model="password" type="password" name="pass" placeholder="Password" />
                    <button type="submit" value="Login"  class="btn btn-default" >Login</button>
                    </div>
                </form>
            </div>
        </div>
        <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        <!--</div>-->


