
<div id="content-row" class="row"><!-- contains the Nav and the Content -->


    <!-- ******************************************************************** CONTENT PANEL ******************************************** -->
    <div id="content">
        <div id="bag" class="ui-corner-top"><!-- ******************* New Template Panel *********************** -->
            <div id="bagHomeRow">
                <div id="bagstart" class="folder" style="float: left; width: 64.4em;">Templates</div>
            </div>
            <div id="bagNav" style="clear:both;"></div>
            <!-- clear the floats above -->
            <div id="templateItems"></div>
        </div>
        <div id="work-area" ng-controller="WorkspacetabsCtrl as wst"><!-- UL is for the Main TAB interface  -->
            <div custom-tabs tabs-base-id="content-tab" ng-model="wst.tabsData"></div>
        </div>
    </div>
    <!-- end #content -->
</div>



